@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Arapey';
	src: url('/src/lib/assets/font/Arapey-Regular.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Arapey';
	src: url('/src/lib/assets/font/avenir-roman.ttf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Fontspring';
	src: url('/src/lib/assets/font/Fontspring-DEMO-theseasons-reg.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir';
	src: url('/src/lib/assets/font/avenir-roman\ 2.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: 'Arapey', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Fontspring', sans-serif;
	@apply uppercase;
}
