@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Scacker';
	src: url('/src/lib/assets/font/sackersgothicstd-light.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Scacker';
	src: url('/src/lib/assets/font/sackersgothicstd-medium.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Scacker';
	src: url('/src/lib/assets/font/sackersgothicstd-heavy.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirRoman';
	src: url('/src/lib/assets/font/avenir-roman.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
body {
	font-family: 'AvenirRoman', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Scacker', sans-serif;
	@apply uppercase;
}
